In [1]:
import pandas as pd

In [2]:
# read data from csv
df = pd.read_csv('../data/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [3]:
# check for missing values
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

In [4]:
# fill missing values with mean value
df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].mean())

In [5]:
# transform categorical data to numerical
proximity_numerical: pd.DataFrame = pd.DataFrame(data=0, index=df.index, columns=df['ocean_proximity'].unique())

for proximity in proximity_numerical.columns:
    proximity_numerical[proximity] = (df['ocean_proximity'] == proximity).astype(int)
    
df = pd.concat([df, proximity_numerical], axis=1).drop(columns=['ocean_proximity'])

In [11]:
# shuffle data and split into 80% training dataset and 20% test dataset
seed = 14
df_shuffled = df.sample(frac=1, random_state=14).reset_index(drop=True)
df_training, df_test = df_shuffled[:df.shape[0]*0.8], df_shuffled[df.shape[0]*0.8:]