In [1]:
import pandas as pd

from src.linreg import LinearRegression

In [2]:
# read data from csv
df = pd.read_csv('../data/housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200

In [3]:
# check for missing values
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
median_house_value      0
dtype: int64

In [4]:
# fill missing values with mean value
df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].mean())

In [5]:
# transform categorical data to numerical
proximity_numerical: pd.DataFrame = pd.DataFrame(data=0, index=df.index, columns=df['ocean_proximity'].unique())

for proximity in proximity_numerical.columns:
    proximity_numerical[proximity] = (df['ocean_proximity'] == proximity).astype(int)
    
df = pd.concat([df, proximity_numerical], axis=1).drop(columns=['ocean_proximity'])

In [6]:
# shuffle data and split into 80% training dataset and 20% test dataset
seed = 14
df_shuffled = df.sample(frac=1, random_state=14).reset_index(drop=True)
df_training, df_test = df_shuffled[:int(df.shape[0]*0.8)], df_shuffled[int(df.shape[0]*0.8):]
X_train, y_train = df_training.drop(columns=['median_house_value']), df_training['median_house_value'] 
X_test, y_test = df_test.drop(columns=['median_house_value']), df_test['median_house_value']

In [7]:
X_train.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,NEAR BAY,<1H OCEAN,INLAND,NEAR OCEAN,ISLAND
count,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000,16512.000000
mean,-119.564668,35.630184,28.634872,2618.599201,535.221524,1419.375121,497.322008,3.873247,0.111313,0.442406,0.318011,0.128089,0.000182
std,2.006186,2.137251,12.542966,2175.644998,420.576130,1141.589379,383.850585,1.903890,0.314529,0.496687,0.465718,0.334199,0.013478
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-121.790000,33.930000,18.000000,1442.000000,295.000000,785.000000,279.000000,2.572850,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-118.490000,34.250000,29.000000,2123.000000,436.000000,1163.000000,408.000000,3.533400,0.000000,0.000000,0.000000,0.000000,0.000000
75%,-118.010000,37.710000,37.000000,3129.250000,640.000000,1715.250000,602.000000,4.740400,0.000000,1.000000,1.000000,0.000000,0.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# standardize feature values
X_scaled = X_train.drop(columns=proximity_numerical.columns)

for feature in X_scaled.columns:
    X_scaled[feature] = (X_scaled[feature] - X_scaled[feature].min()) / (X_scaled[feature].max() - X_scaled[feature].min())
    
X_scaled.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,0.708167,0.072264,0.372549,0.049850,0.051676,0.032792,0.057227,0.250459
1,0.240040,0.501594,0.823529,0.053462,0.060056,0.031783,0.066108,0.305079
2,0.296813,0.624867,0.333333,0.067170,0.077747,0.049105,0.088801,0.195046
3,0.289841,0.631243,0.215686,0.125312,0.156580,0.073376,0.142904,0.153536
4,0.221116,0.470776,0.509804,0.025154,0.029950,0.015135,0.025325,0.290955

In [9]:
# standardize target values
y_scaled = (y_train - y_train.min()) / (y_train.max() - y_train.min())
y_scaled.head()

0    0.304125
1    0.459794
2    0.157115
3    0.195465
4    0.690721
Name: median_house_value, dtype: float64

In [10]:
# initialize linear regression model
model = LinearRegression(epochs=5000, lr=0.01, metrics=['mse', 'rmse', 'r2'], reg='l1', l1_coef=0.01, sgd_sample=0.5)

In [11]:
loss, weights = model.fit(X_scaled, y_scaled, verbose=100)

start | loss: 5.798903891106254 | mse: 5.329176172305227 | rmse: 2.3085008495353057 | r2: -93.35625254406649
100 | loss: 0.11785840380360799 | mse: 0.06269581348397302 | rmse: 0.25039132070415904 | r2: -0.11006688825422928
200 | loss: 0.10998577609733298 | mse: 0.057362795335879006 | rmse: 0.23950531379466095 | r2: -0.015642611230191728
300 | loss: 0.10324559737152121 | mse: 0.05310612357791191 | rmse: 0.23044765908533746 | r2: 0.0597243089852082
400 | loss: 0.09729444995681412 | mse: 0.04958854544834192 | rmse: 0.22268485680068575 | r2: 0.12200513431465498
500 | loss: 0.09192218003180903 | mse: 0.0466053493483032 | rmse: 0.2158827212824204 | r2: 0.17482440609376115
600 | loss: 0.087002934472789 | mse: 0.044029686897084905 | rmse: 0.20983252106640882 | r2: 0.22042805079562067
700 | loss: 0.08245256658368785 | mse: 0.04177858612370284 | rmse: 0.204398106947454 | r2: 0.2602851368081295
800 | loss: 0.07821211051120922 | mse: 0.03979508452662194 | rmse: 0.19948705353135562 | r2: 0.2954042193012809
900 | loss: 0.07424177725045618 | mse: 0.03803835732042613 | rmse: 0.19503424653231066 | r2: 0.32650812552608544
1000 | loss: 0.07050935538230782 | mse: 0.036477391624596206 | rmse: 0.19099055375749924 | r2: 0.3541459570869515
1100 | loss: 0.06698854566235346 | mse: 0.035087976362409824 | rmse: 0.18731784848863128 | r2: 0.3787463855825869
1200 | loss: 0.06366090743017562 | mse: 0.03385041020033003 | rmse: 0.18398480969995873 | r2: 0.4006582349104504
1300 | loss: 0.06065600622907342 | mse: 0.032801618001978165 | rmse: 0.18111216966835267 | r2: 0.41922772826820665
1400 | loss: 0.05815086125289494 | mse: 0.032032361422448336 | rmse: 0.17897586826845774 | r2: 0.43284787625027343
1500 | loss: 0.05618466533193057 | mse: 0.03150891742088887 | rmse: 0.17750751370262857 | r2: 0.4421157654712179
1600 | loss: 0.05439677584595251 | mse: 0.03109045898025456 | rmse: 0.17632486773071618 | r2: 0.4495248225237656
1700 | loss: 0.05299867874658207 | mse: 0.030710610359351 | rmse: 0.17524443032333722 | r2: 0.4562502696179621
1800 | loss: 0.051796829355966065 | mse: 0.030329036997905314 | rmse: 0.17415233847957745 | r2: 0.4630062542753587
1900 | loss: 0.05069597483611018 | mse: 0.030011543104333096 | rmse: 0.17323839962413962 | r2: 0.4686276736157031
2000 | loss: 0.04968304416463934 | mse: 0.029754831191951353 | rmse: 0.17249588746387942 | r2: 0.47317291161358377
2100 | loss: 0.04874879038033504 | mse: 0.029548279912861034 | rmse: 0.17189613117479122 | r2: 0.4768300255882407
2200 | loss: 0.047885340390512586 | mse: 0.029388226697650056 | rmse: 0.17142994691024685 | r2: 0.47966386352240764
2300 | loss: 0.04708550688564647 | mse: 0.029267462629611402 | rmse: 0.17107735861186132 | r2: 0.4818020635994329
2400 | loss: 0.04634431787532045 | mse: 0.02918058903153669 | rmse: 0.17082326841369325 | r2: 0.4833402126292863
2500 | loss: 0.045655480451213606 | mse: 0.029124995101622156 | rmse: 0.17066046730752307 | r2: 0.48432453641993023
2600 | loss: 0.045015430348227255 | mse: 0.02909622032889137 | rmse: 0.1705761423203473 | r2: 0.4848340109868987
2700 | loss: 0.04441899556697347 | mse: 0.029092051267491308 | rmse: 0.17056392135352455 | r2: 0.4849078267133107
2800 | loss: 0.04386306610551567 | mse: 0.029108889763912904 | rmse: 0.17061327546211902 | r2: 0.48460969105979723
2900 | loss: 0.04342378433400072 | mse: 0.029112986666440674 | rmse: 0.1706252814398871 | r2: 0.4845371529493915
3000 | loss: 0.04305632988677273 | mse: 0.029108773594733427 | rmse: 0.17061293501588157 | r2: 0.48461174790462325
3100 | loss: 0.042738501633355276 | mse: 0.02910113466149629 | rmse: 0.1705905468116457 | r2: 0.4847469997879136
3200 | loss: 0.04242900222573523 | mse: 0.029100324285656468 | rmse: 0.17058817158776415 | r2: 0.48476134797700055
3300 | loss: 0.04215109978329725 | mse: 0.029095827734087195 | rmse: 0.17057499152597722 | r2: 0.4848409621127937
3400 | loss: 0.04196166656367573 | mse: 0.029077981220905304 | rmse: 0.17052267069485308 | r2: 0.4851569453061384
3500 | loss: 0.041777943023716915 | mse: 0.029062814527019424 | rmse: 0.1704781936994272 | r2: 0.4854254806955278
3600 | loss: 0.041595384388456245 | mse: 0.02905185249619809 | rmse: 0.17044603983724024 | r2: 0.4856195700097353
3700 | loss: 0.0414342611505675 | mse: 0.029040869614989924 | rmse: 0.1704138187324899 | r2: 0.4858140284925163
3800 | loss: 0.041426679496453137 | mse: 0.029030381288903936 | rmse: 0.1703830428443627 | r2: 0.4859997305809698
3900 | loss: 0.041426353032075425 | mse: 0.029019163165485022 | rmse: 0.17035011935858754 | r2: 0.4861983541678362
4000 | loss: 0.041422739018429626 | mse: 0.029010498272385565 | rmse: 0.17032468485919933 | r2: 0.4863517712843144
4100 | loss: 0.04142154589504674 | mse: 0.02900162645997512 | rmse: 0.17029863904322642 | r2: 0.48650885203099226
4200 | loss: 0.04141956394982481 | mse: 0.028994319818300206 | rmse: 0.170277185254808 | r2: 0.48663822049336547
4300 | loss: 0.04141902587776445 | mse: 0.02898575285846762 | rmse: 0.17025202747241402 | r2: 0.486789903642761
4400 | loss: 0.041417977114481974 | mse: 0.028979442927155322 | rmse: 0.17023349531498003 | r2: 0.4869016247518383
4500 | loss: 0.04141789841189446 | mse: 0.028971402387476582 | rmse: 0.1702098774674272 | r2: 0.487043987317456
4600 | loss: 0.04141733930527199 | mse: 0.028964954342147863 | rmse: 0.17019093495879228 | r2: 0.4871581538178269
4700 | loss: 0.04141677593195067 | mse: 0.028958755162307205 | rmse: 0.17017272155756105 | r2: 0.487267914005837
4800 | loss: 0.04141632699755327 | mse: 0.028953735225069225 | rmse: 0.17015797138268082 | r2: 0.4873567949980331
4900 | loss: 0.041416213194858 | mse: 0.028947598742802033 | rmse: 0.17013993870576666 | r2: 0.4874654450879934